/*
    Palette: 
    #F8F8F8
    #7293A0
    #258EA6
    #065A82
    #4F6272

    Palette 2: 
    #49C6E5 - accent
    #F0F2EF
    #B3B6B7
    #5C6D70
    #040F0F

    Spacing:
    ExtraSmall - 5px
    Medium - 13px
    Large - 20px
    ExtraLarge - 40px
*/

html {
    background-color: #f8f8f8;
    color: #040F0F;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 3em;
}

.container {
    display: -ms-grid;
    display: grid;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 20px;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: auto auto 5px auto;
    grid-template-rows: auto auto 5px auto;
    grid-template-areas: "header" "subheader" "divider" "social";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
    justify-content: center;
    align-content: center;
}

@media (min-width: 720px) {
    .container {
        -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
        -ms-grid-rows: 1fr 5px 1fr;
        grid-template-rows: 1fr 5px 1fr;
        grid-template-areas: "header subheader" "divider divider" "social social";
    }
    .header-item {
        padding-left: 20px;
    }
    .subheader-item {
        padding-right: 20px;
    }
}

.header-item {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
    -ms-grid-column-align: stretch;
        justify-self: stretch;
    -ms-grid-row-align: end;
        align-self: end;
}

.header-item h1 {
    margin-right: 5px;
    margin-bottom: 8px;
    text-align: center;
}

.subheader-item {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: subheader;
    -ms-grid-column-align: stretch;
        justify-self: stretch;
    -ms-grid-row-align: end;
        align-self: end;
    text-align: center;
}

.divider-item {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: divider;
    border-top: #B3B6B7 1px solid;
    margin-top: 0px;
    width: 100%;
}

.social-item {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    font-size: 2em;
    margin-top: 16px;
    grid-area: social;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row-align: start;
        align-self: start;
}

.social-item a {
    display: inline-block;
    border: 2px solid #B3B6B7;
    border-radius: 13px;
    padding: 5px;
    color: #5C6D70;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
    width: 45px;
    height: 45px;
}

@media (min-width: 720px) {
    .header-item {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .subheader-item {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .divider-item {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }
    .social-item {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }
}

.social-item a:hover {
    color: #040F0F;
    border-color: #040F0F;
}

.social-item i {
    vertical-align: middle;
}